<section reservation-id="{{reservationId}}">
    <div class="reservation-info">
        <h3 class="tab-heading">Date: {{reservationDate}}</h3>
        
        <p><b> Time:</b> {{reservationTime}}</p>
        <p><b>Party size:</b> {{partySize}}</p>
        <!--<div>
            <button id="edit-reservation">Edit</button>
            <button id="cancel-reservation">Cancel</button>
        </div>-->
    </div>
    <!--
    <form class="edit-reservation">
        <label for="date-input">Date</label>
        <input type="text" name="reservationDate" id="reservationDate" value="{{reservationDate}}" />
        <label for="time-input">Time</label>
        <input type="text" name="reservationTime" id="reservationTime"  value="{{reservationTime}}"/>
        <label for="size-input">How Many</label>
        <input type="text" name="partySize" id="partySize"  value="{{partySize}}"/>
        <button type="submit">Update</button>
    </form>
    -->
</section>